

<ion-header>

    <ion-navbar>
    
      <ion-title>Login</ion-title>
     
    </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-row class="login-logo">
    <ion-col><img src="http://placehold.it/100x100" /></ion-col>
  </ion-row>
 
  <ion-row class="login-form">
    <ion-col>
      <ion-list inset>
        <form [formGroup]="loginForm">
      
           <ion-item>
              <ion-label><ion-icon name="person"></ion-icon></ion-label>
              <ion-input formControlName="username" [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)" [(ngModel)]="username" placeholder="username" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">
                <p>Please enter a valid username.</p>
            </ion-item>
           <ion-item>
              <ion-label><ion-icon name="lock"></ion-icon></ion-label>
              <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)" [(ngModel)]="password" placeholder="password"></ion-input>
    
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
                <p>Please enter a valid password.</p>
            </ion-item>
        </form>  
      </ion-list>
 
      <button ion-button (click)="login()" primary class="login-button">Login</button>
 
    </ion-col>
  </ion-row>
 
    <ion-row>
      <ion-col>
        <button (click)="launchSignup()" class="create-account">Create an Account</button>
      </ion-col>
  </ion-row>
 
</ion-content>